* {
    box-sizing: border-box;
}

body {
    background-color: #062863;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(image/data1.png), url(image/data2.png), url(image/data3.png), url(image/last.png);
    background-repeat: no-repeat;
    background-position: -1% -15%, 109% 0%, -5% 110%, 107% 105%;
    background-size: 15%;
    background-attachment: fixed;
}

form {
    max-width: 450px;
    margin: 20px auto;
    background-color: #fff;
    padding: 40px 50px 48px;
    border-radius: 5%;
    scroll-behavior: auto;
    font-size: small;
}
h1 {
    color: navy;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 22px;
    text-align: center;
}
h2 {
    color:  #A9A9A9;
    margin-bottom: 30px;
    margin-top: 0px;
    font-size: 13px;
    text-align: center;
}

.Piggy-logo {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px
}

.input-box {
    background-color: #e9edf5;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
    margin: 10px 0;
    border: none;
    outline: none
}

select
{
    background-color: silver;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    outline: none;

}
button {
    color: white;
    background-color: #2b87db;
    width: 100%;
    padding: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-family: droid serif;
}

p {
    text-align: center;
    color: #fff;
}
a {
    color: white;
}